<div class="mt-4 ml-4">
  <form method="post" action="">
    <div class="form-group">
      <label for="exampleInputEmail1">Tu Khoa</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Search..."
      />
    </div>

    <div class="form-group">
      <label for="gender-input">Tu Khoa</label>
      <select name="gender" class="form-control" id="gender-input">
        <option value="">-- Chon gioi tinh --</option>
        <option value="male">Nam</option>
        <option value="female">Nu</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>